{% extends 'application/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'application/index.css' %}" type="text/css">
{% endblock style %}

{% block body %}
    {% if auth %}        
        <a href="{% url 'application:dashboard' %}"class="left"> Visit Dashboard</a>
        <a href="{% url 'application:signout' %}" class="right">Logout</a>
        <hr>
        <p id="welcome"> Welcome {{name}} </p>
    {% else %}
        <span class="login100-form-title">
            Member Login
        </span>
        <form class="login100-form validate-form" method="POST", action={% url 'application:index' %}>
            {% csrf_token %}


            <div class="wrap-input100 validate-input customer" data-validate = "Valid username is required: xxyz">
                <input class="input100" type="text" name="username" placeholder="Username">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <input class="input100" type="password" name="password" placeholder="Password">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
            
            <div class="container-login100-form-btn">
                <input type="submit" value="Login" class="login100-form-btn">
            </div>
        </form>
    {% endif %}


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
